body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: #121212;
  display: flex;
  flex-direction: row;
  gap: 124px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.left {
  width: 30%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.infos {
  margin-left: 56px;
  margin-top: 56px;
}

.infos h1 {
  margin-bottom: 32px;
}

h1 {
  margin: 0;
  font-size: 2.5rem;
  color: white;
}

p {
  color: white;
  font-weight: 500;
  margin: 0;
}

a {
  color: white;
}

a:hover {
  color: #e50914;
}

img {
  width: 64px;
  margin-left: 56px;
  margin-bottom: 56px;
}

.right {
  height: 100vh;
  width: 100%;
  margin-right: 56px;
}

.filters {
  font-size: 1.5rem;
  color: white;
  display: flex;
  gap: 32px;
  color: white;
  margin-top: 56px;
  font-weight: 700;
  position: relative;
}

.filter {
  cursor: pointer;
  margin-bottom: 12px;
}

.filter.selected {
  color: #e50914;
}

.tab-indicator {
  height: 4px;
  background-color: #e50914;
  border-radius: 4px;
  position: absolute;
  bottom: 0;

  transition: 0.3s;
  left: 0px;
}

.graph-container {
  margin-top: 56px;
  height: 572px;
  /* display: flex; */
}

h3 {
  color: white;
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0;
}

.chart {
  width: 100%;
  height: 57.2px;
  display: flex;
  align-items: center;
}

.chart .block {
  width: 100%;
  height: 48px;
  background: #e50914;
  border-radius: 0 8px 8px 0;
  position: relative;
}

.chart .name {
  margin: 0;
  color: white;
  text-align: right;
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
}

.chart .views {
  margin-left: 16px;
  font-weight: 400;
  white-space: nowrap;
}

.bars rect {
  cursor: pointer;
}

.bars rect.selected {
  stroke: white;
  stroke-width: 2px;
}

#graph text,
#graph .tick {
  pointer-events: none;
}
