body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: #121212;
  display: flex;
  flex-direction: row;
  gap: 124px;
}
.left {
  width: 30%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.infos {
  margin-left: 56px;
  margin-top: 56px;
}

h1 {
  margin: 0;
  font-size: 2.5rem;
  color: white;
}

p {
  color: white;
  font-weight: 500;
  margin: 0;
}

a {
  color: white;
}

a:hover {
  color: #e50914;
}

img {
  width: 64px;
  margin-left: 56px;
  margin-bottom: 56px;
}

.right {
  height: 100vh;
}

.filters {
  font-size: 1.5rem;
  color: white;
  display: flex;
  gap: 32px;
  color: white;
  margin-top: 56px;
  font-weight: 700;
  position: relative;
}

.filters p {
  margin-bottom: 12px;
}

.series_filter {
  cursor: pointer;
}

.selected {
  color: #e50914;
}

.films_filter {
  cursor: pointer;
}

.graph-container {
  margin-top: 56px;
  height: 572px;
}

.ui-rank {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h3 {
  color: white;
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0;
}

.tab-indicator {
  height: 4px;
  width: 56px;
  background-color: #e50914;
  border-radius: 4px;
  position: absolute;
  bottom: 0;
  left: 0;
}
